@import "tailwindcss";

@theme {
  --font-sans: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-slate-950: #020617;
  --color-zinc-950: #09090b;
}

@layer base {
  :root {
    --background: #020617; /* slate-950 */
    --foreground: #f8fafc; /* slate-50 */
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
